.sticker{
  display: inline-block;
}

.sticker textarea{
  background-color: lightblue;
  width: 200px;
  height: 200px;
  font-size: 1em;
  padding: 3px;
  margin: 0px 0px 3px 3px;
}

.sticker textarea:focus{
  background-color: lightblue;
}
